<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0"/>
  </startup>
  <appSettings>
    <add key="InputFolder" value="C:\CoR\Input"/>
    <add key="OutputFolder" value="C:\CoR\Output"/>
    <add key="ProcessingFolder" value="C:\CoR\Processing"/>
    <add key="ProcessedFolder" value="C:\CoR\Processed"/>
    <add key="ErrorFolder" value="C:\CoR\Error"/>
    <add key="ReferenceDataFile" value="c:\CoR\ReferenceData.xml"/>
    <add key="OutputFilename" value="GenerationOutput"/>
  </appSettings>
</configuration>
